<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>记事本</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="robots" content="noindex, nofollow" />
  <meta name="googlebot" content="noindex, nofollow" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="./css/index.css" />
</head>

<body>
  <!-- 主体区域 -->
  <section id="todoapp">
    <!-- 输入框 -->
    <header class="header">
      <h1>Vue记事本</h1>
      <span>输入内容：</span>
      <input v-model="inputValue" @keyup.enter="add" autofocus="autofocus" autocomplete="off" placeholder="请输入任务"
        class="new-todo" />
    </header>
    <!-- 列表区域 -->
    <section class="main">
      <ul class="todo-list">
        <li class="todo" v-for="(ctt,index) in content">
          <div class="view">
            <span class="index">&nbsp;{{ index+1 }}&nbsp;</span>
            <label>{{ctt}}</label>
            <button class="destroy" @click="remove(index)">X</button>
          </div>
        </li>
      </ul>
    </section>
    <!-- 统计和清空 -->
    <footer class="footer" v-if="content.length != 0">
      <span class="todo-count">
        <strong>拥有{{content.length}}个事件</strong> 
      </span>
      <button class="clear-completed" @click="clear">
        清空
      </button>
    </footer>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/example.js"></script>
</body>

</html>